html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  grid-gap: 5px;
  /* justify-items: center; */
  /* align-items: center; */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.bigItem {
  /* grid-row: 2 / 4; */
  /* grid-column: 2 / 4; */
  /* or: grid-area: 2/ 2/ 4/ 4/; */
  /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
  grid-area: 2 / 2 / 4 / 4;
  height: 50%;
  width: 50%;
  justify-self: center;
  align-self: center;
}
